# Descargas de diferentes fuentes de la web

In [1]:
# Importamos librerias
import requests
import zipfile
import pandas as pd

## Primera petición

In [2]:
url = "https://pbs.twimg.com/profile_images/616689518968762368/rkhjKqNb.jpg"
image = requests.get(url)

In [4]:
image

In [17]:
with open("mutenrroy.jpg", 'wb') as f:
    f.write(image.content)

## Bajar datos de inflación mediante url

In [18]:
df_inflation = pd.read_csv('https://datahub.io/core/inflation/r/inflation-gdp.csv')
df_inflation.head()

      Country Country Code  Year  Inflation
0  Arab World          ARB  1969   1.303790
1  Arab World          ARB  1970   2.602241
2  Arab World          ARB  1971   6.884719
3  Arab World          ARB  1972   2.496081
4  Arab World          ARB  1973  11.555281

In [19]:
df_inflation[df_inflation['Country'] == "Spain"]

     Country Country Code  Year  Inflation
9432   Spain          ESP  1961   2.466390
9433   Spain          ESP  1962   6.095842
9434   Spain          ESP  1963   7.845375
9435   Spain          ESP  1964   6.254320
9436   Spain          ESP  1965   9.164867
9437   Spain          ESP  1966   8.173743
9438   Spain          ESP  1967   8.537719
9439   Spain          ESP  1968   5.911130
9440   Spain          ESP  1969   5.133251
9441   Spain          ESP  1970   8.768999
9442   Spain          ESP  1971   7.846021
9443   Spain          ESP  1972   8.517925
9444   Spain          ESP  1973  11.849595
9445   Spain          ESP  1974  15.945109
9446   Spain          ESP  1975  16.781782
9447   Spain          ESP  1976  16.489922
9448   Spain          ESP  1977  23.383070
9449   Spain          ESP  1978  20.631042
9450   Spain          ESP  1979  16.931632
9451   Spain          ESP  1980  13.354827
9452   Spain          ESP  1981  12.351192
9453   Spain          ESP  1982  13.582323
9454   Spain          ESP  1983  11.884246
9455   Spain          ESP  1984  10.864734
9456   Spain          ESP  1985   8.595479
9457   Spain          ESP  1986  10.878816
9458   Spain          ESP  1987   5.944198
9459   Spain          ESP  1988   5.936126
9460   Spain          ESP  1989   6.896194
9461   Spain          ESP  1990   7.326251
9462   Spain          ESP  1991   6.935139
9463   Spain          ESP  1992   6.710771
9464   Spain          ESP  1993   4.537241
9465   Spain          ESP  1994   3.879842
9466   Spain          ESP  1995   4.933130
9467   Spain          ESP  1996   3.470721
9468   Spain          ESP  1997   2.381828
9469   Spain          ESP  1998   2.532760
9470   Spain          ESP  1999   2.664838
9471   Spain          ESP  2000   3.276074
9472   Spain          ESP  2001   4.079866
9473   Spain          ESP  2002   4.114985
9474   Spain          ESP  2003   3.918909
9475   Spain          ESP  2004   3.921276
9476   Spain          ESP  2005   4.149491
9477   Spain          ESP  2006   3.978200
9478   Spain          ESP  2007   3.331140
9479   Spain          ESP  2008   2.135441
9480   Spain          ESP  2009   0.252534
9481   Spain          ESP  2010   0.160419
9482   Spain          ESP  2011   0.028968
9483   Spain          ESP  2012   0.067950
9484   Spain          ESP  2013   0.353610
9485   Spain          ESP  2014  -0.194984
9486   Spain          ESP  2015   0.610876
9487   Spain          ESP  2016   0.283304

## Bajar datos de Bicimad

In [3]:
url = 'https://opendata.emtmadrid.es/getattachment/c3383795-121b-4ebf-98b4-c7b05e902eaf/202106_movements.aspx'

r = requests.get(url)

In [8]:
r

In [9]:
# Guardamos el zip
filename = 'data/bicis.zip'
with open(filename, 'wb') as f:
   f.write(r.content)

In [10]:
# Extraemos lo que hay dentro
filename = 'data/bicis.zip'
with zipfile.ZipFile(filename, 'r') as zip_ref:
    zip_ref.extractall("data/")

In [13]:
# Leemos los datos
datos_bicis = pd.read_json('data/202106_movements.json', lines=True, encoding='latin-1', nrows=10000)

In [15]:
# Vemos qué pinta tienen
datos_bicis.head()

,_id,user_day_code,idplug_base,user_type,idunplug_base,travel_time,idunplug_station,ageRange,idplug_station,unplug_hourTime,zip_code
0,{'$oid': '60bbf3f21b91311d90d568ad'},b67ea824acf706087d5818ebc6f90821a5abaab17a0868...,15,1,13,319,38,0,54,2021-06-01T00:00:00Z,
1,{'$oid': '60bbf3f21b91311d90d568b2'},364b1b99f1f9a1748f7abf1134c8d6a46197b583649308...,7,1,1,386,185,0,126,2021-06-01T00:00:00Z,
2,{'$oid': '60bbf3f21b91311d90d568b3'},5cc17031cba02835dda4b6c153b56572beaade54d8ab91...,14,1,10,465,15,0,91,2021-06-01T00:00:00Z,
3,{'$oid': '60bbf3f21b91311d90d568b4'},6e855acaaa17d6d14236598c0f1172c783e16950e39c01...,8,1,22,613,84,0,236,2021-06-01T00:00:00Z,
4,{'$oid': '60bbf3f21b91311d90d568b5'},e93417502d55208995a61f4177956ab9289aba39044ce3...,1,1,4,751,131,5,94,2021-06-01T00:00:00Z,28006

In [16]:
datos_bicis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   _id               10000 non-null  object
 1   user_day_code     10000 non-null  object
 2   idplug_base       10000 non-null  int64
 3   user_type         10000 non-null  int64
 4   idunplug_base     10000 non-null  int64
 5   travel_time       10000 non-null  int64
 6   idunplug_station  10000 non-null  int64
 7   ageRange          10000 non-null  int64
 8   idplug_station    10000 non-null  int64
 9   unplug_hourTime   10000 non-null  object
 10  zip_code          10000 non-null  object
dtypes: int64(7), object(4)
memory usage: 859.5+ KB

In [17]:
datos_bicis['zip_code'].unique()

array(['', '28006', '28004', '28045', '28028', '28009', '28007', '28005',
       '28010', '28034', '28012', '28001', '28008', '28015', '28002',
       '28105', 'CODIGO_POSTAL_NOT_DEF', '28013', '39724', '28100',
       '28800', '28027', '28020', '28011', '28014', '28850', '15002',
       '28003', '45007', '28046', '28039', '28043', '28038', '28934',
       '28016', '28945', '28221', '28033', '28030', '28029', '28048',
       '28054', '28035', '35572', '28049', '28004 ', '28019', '28040',
       '28941', '28523', '28380', '28933', '28026', '45600', '28938',
       '28220', '28935', '28760', '28863', '28018', '28250', '28053',
       '28017', '28024', '28823', '28021', '28922', '28210', '28022',
       '28036', '28047', '28430', '28041', '46009', '28770', '28031',
       '28200', '46026', '20540', '28232', '28042', '28071', '18006',
       '28400', '62973', '2', '28521', '28822', '28411', '28229', '48520',
       '29039', '28260', '28055', '28942', '28815', '28037', '28702',
       '28707', '28701', '28290', '28691', '28460', '28936', '28915',
       '28025', '28750', '28905', '28223', '75014', '28891', '28903',
       '23009', '28023', '28660', '28006 ', '28924', '28911', '28032',
       '28801', '10318', '28803', '29740', '28051', '28342', '28912',
       '28064', '28299', '33206', '28791', '28028 ', '09006', '28917',
       '19160', '28923', '28350', '29045', '23012', '28670', '28044',
       '28909', '28450', '28906', '28231'], dtype=object)

# Acceso a archivos de la pagina de datos.gob.es
Uno de los mayores catálogos de información pública descargable en España

<table align="left">
 <tr><td width="80"><img src="./img/ejercicio.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>Ejercicio datos.gob.es</h3>

Descarga con pandas un dataset de la página https://datos.gob.es/es/catalogo acerca del empleo y guárdalo en un csv en la carpeta data.
         
 </td></tr>
</table>

# OpenStreetMap

In [24]:
# Amenities
# https://wiki.openstreetmap.org/wiki/Key:amenity

overpass_url = "http://overpass-api.de/api/interpreter"

overpass_query = """
[out:json];
node["amenity"="cafe"]
  (40.420801, -3.694702,40.423754, -3.688167); 
out;
"""
response = requests.get(overpass_url, 
                        params={'data': overpass_query})
print(response)
data = response.json()

<Response [200]>

In [25]:
data

{'version': 0.6,
 'generator': 'Overpass API 0.7.58.3 b33c3320',
 'osm3s': {'timestamp_osm_base': '2022-07-11T11:23:09Z',
  'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'},
 'elements': [{'type': 'node',
   'id': 2977298934,
   'lat': 40.4210523,
   'lon': -3.689841,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '4',
    'addr:street': 'Calle de Villalar',
    'amenity': 'cafe',
    'cuisine': 'regional',
    'internet_access': 'yes',
    'name': 'Café Villalar',
    'payment:bitcoin': 'yes',
    'website': 'http://www.cafevillalar.com/'}},
  {'type': 'node',
   'id': 3426617375,
   'lat': 40.4221948,
   'lon': -3.6923421,
   'tags': {'amenity': 'cafe',
    'name': 'Gran Café Gijón',
    'phone': '+34 915 215 425',
    'website': 'https://cafegijon.com/',
    'wikidata': 'Q1025608',
    'wikipedia': 'es:Café Gijón'}},
  {'type': 'node',
   'id': 4703448419,
   'lat': 40.4229908,
   'lon': -3.6936524,
   'tags': {'addr:city': 'Madrid',
    'addr:housenumber': '6',
    'addr:postcode': '28004',
    'addr:street': 'Calle del Marqués de Monasterio',
    'amenity': 'cafe',
    'contact:facebook': 'https://www.facebook.com/hermanasae',
    'contact:instagram': 'https://www.instagram.com/hermanasarce/',
    'cuisine': 'cake',
    'disused:amenity': 'restaurant',
    'name': 'Hermanas Arce',
    'old_name': 'Noteolvides',
    'opening_hours': 'Tu, We 09:00-17:00; Th, Fr 09:00-17:30; Sa 09:30-17:30'}},
  {'type': 'node',
   'id': 9207850217,
   'lat': 40.4218751,
   'lon': -3.6901227,
   'tags': {'amenity': 'cafe', 'name': 'masticar'}}]}

In [26]:
data.keys()

dict_keys(['version', 'generator', 'osm3s', 'elements'])

In [27]:
data.get('osm3s')

{'timestamp_osm_base': '2022-07-11T11:23:09Z',
 'copyright': 'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'}

In [28]:
data['osm3s']['copyright']

'The data included in this document is from www.openstreetmap.org. The data is made available under ODbL.'

In [32]:
data['elements'][0]['tags']['name']

'Café Villalar'

In [14]:
for element in data['elements']:
    print(element)

{'type': 'node', 'id': 2977298934, 'lat': 40.4210523, 'lon': -3.689841, 'tags': {'addr:city': 'Madrid', 'addr:housenumber': '4', 'addr:street': 'Calle de Villalar', 'amenity': 'cafe', 'cuisine': 'regional', 'internet_access': 'yes', 'name': 'Café Villalar', 'payment:bitcoin': 'yes', 'website': 'http://www.cafevillalar.com/'}}
{'type': 'node', 'id': 3426617375, 'lat': 40.4221948, 'lon': -3.6923421, 'tags': {'amenity': 'cafe', 'name': 'Gran Café Gijón', 'phone': '+34 915 215 425', 'website': 'https://cafegijon.com/', 'wikidata': 'Q1025608', 'wikipedia': 'es:Café Gijón'}}
{'type': 'node', 'id': 4703448419, 'lat': 40.4229908, 'lon': -3.6936524, 'tags': {'addr:city': 'Madrid', 'addr:housenumber': '6', 'addr:postcode': '28004', 'addr:street': 'Calle del Marqués de Monasterio', 'amenity': 'cafe', 'contact:facebook': 'https://www.facebook.com/hermanasae', 'contact:instagram': 'https://www.instagram.com/hermanasarce/', 'cuisine': 'cake', 'disused:amenity': 'restaurant', 'name': 'Hermanas Arce', 'old_name': 'Noteolvides', 'opening_hours': 'Tu, We 09:00-17:00; Th, Fr 09:00-17:30; Sa 09:30-17:30'}}
{'type': 'node', 'id': 9207850217, 'lat': 40.4218751, 'lon': -3.6901227, 'tags': {'amenity': 'cafe', 'name': 'masticar'}}

In [35]:
data['elements']

[{'type': 'node',
  'id': 2977298934,
  'lat': 40.4210523,
  'lon': -3.689841,
  'tags': {'addr:city': 'Madrid',
   'addr:housenumber': '4',
   'addr:street': 'Calle de Villalar',
   'amenity': 'cafe',
   'cuisine': 'regional',
   'internet_access': 'yes',
   'name': 'Café Villalar',
   'payment:bitcoin': 'yes',
   'website': 'http://www.cafevillalar.com/'}},
 {'type': 'node',
  'id': 3426617375,
  'lat': 40.4221948,
  'lon': -3.6923421,
  'tags': {'amenity': 'cafe',
   'name': 'Gran Café Gijón',
   'phone': '+34 915 215 425',
   'website': 'https://cafegijon.com/',
   'wikidata': 'Q1025608',
   'wikipedia': 'es:Café Gijón'}},
 {'type': 'node',
  'id': 4703448419,
  'lat': 40.4229908,
  'lon': -3.6936524,
  'tags': {'addr:city': 'Madrid',
   'addr:housenumber': '6',
   'addr:postcode': '28004',
   'addr:street': 'Calle del Marqués de Monasterio',
   'amenity': 'cafe',
   'contact:facebook': 'https://www.facebook.com/hermanasae',
   'contact:instagram': 'https://www.instagram.com/hermanasarce/',
   'cuisine': 'cake',
   'disused:amenity': 'restaurant',
   'name': 'Hermanas Arce',
   'old_name': 'Noteolvides',
   'opening_hours': 'Tu, We 09:00-17:00; Th, Fr 09:00-17:30; Sa 09:30-17:30'}},
 {'type': 'node',
  'id': 9207850217,
  'lat': 40.4218751,
  'lon': -3.6901227,
  'tags': {'amenity': 'cafe', 'name': 'masticar'}}]

In [36]:
pd.DataFrame(data['elements'])

,type,id,lat,lon,tags
0,node,2977298934,40.421052,-3.689841,"{'addr:city': 'Madrid', 'addr:housenumber': '4..."
1,node,3426617375,40.422195,-3.692342,"{'amenity': 'cafe', 'name': 'Gran Café Gijón',..."
2,node,4703448419,40.422991,-3.693652,"{'addr:city': 'Madrid', 'addr:housenumber': '6..."
3,node,9207850217,40.421875,-3.690123,"{'amenity': 'cafe', 'name': 'masticar'}"

In [43]:
def json_to_dataframe(data_entrada):
    elements = data_entrada['elements']
    places = {'lat': [], 'lon': [], 'name': [], 'address': []}

    for i in elements:
        lalitude = i['lat']
        longitude = i['lon']
        name = i['tags'].get('name')
        street = i['tags'].get('addr:street', 'Sin calle')
        number = i['tags'].get('addr:housenumber', 0)
        
        places['lat'].append(lalitude)
        places['lon'].append(longitude)
        places['name'].append(name)
        places['address'].append(str(street) + ' ' + str(number))

    df = pd.DataFrame(places)
    return df

In [41]:
data['elements'][1]['tags']

{'amenity': 'cafe',
 'name': 'Gran Café Gijón',
 'phone': '+34 915 215 425',
 'website': 'https://cafegijon.com/',
 'wikidata': 'Q1025608',
 'wikipedia': 'es:Café Gijón'}

In [44]:
df_return = json_to_dataframe(data)
df_return.head()

         lat       lon             name                            address
0  40.421052 -3.689841    Café Villalar                Calle de Villalar 4
1  40.422195 -3.692342  Gran Café Gijón                        Sin calle 0
2  40.422991 -3.693652    Hermanas Arce  Calle del Marqués de Monasterio 6
3  40.421875 -3.690123         masticar                        Sin calle 0

In [ ]:
# lista_responses = [data1, data2, data3, data4]
# for data in lista_responses:
#     df_return = json_to_dataframe(data)
#     df_results = df_results.concat(df_return)

## Datos del espacio

In [45]:
'''
https://thespacedevs.com/llapi
https://ll.thespacedevs.com/2.2.0/swagger
'''
space_url = "http://ll.thespacedevs.com/2.2.0"

path = "/astronaut"

url_total = space_url + path

response = requests.get(url_total)

In [47]:
print(response.status_code)
type(response.content)
response.json()

200

{'count': 700,
 'next': 'https://ll.thespacedevs.com/2.2.0/astronaut/?limit=10&offset=10',
 'previous': None,
 'results': [{'id': 276,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/276/',
   'name': 'Franz Viehböck',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'date_of_birth': '1960-08-24',
   'date_of_death': None,
   'nationality': 'Austrian',
   'bio': "Franz Artur Viehböck (born August 24, 1960 in Vienna) is an Austrian electrical engineer, and was Austria's first cosmonaut. He was titulated „Austronaut“ by his country's media. He visited the Mir space station in 1991 aboard Soyuz TM-13, returning aboard Soyuz TM-12 after spending just over a week in space.",
   'twitter': None,
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Franz_Viehb%C3%B6ck',
   'agency': {'id': 8,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/8/',
    'name': 'Austrian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'AUT',
    'abbrev': 'ALR',
    'description': 'The Austrian Space Agency was founded in 1972 and joined the ESA as a member in 1987. In 2005, control of the ALR was transferred to the Austrian Agency for Aerospace. They coordinated the first flight of an Austrian in space with a Soyuz launch in 1990.',
    'administrator': 'Andreas Geisler',
    'founding_year': '1972',
    'launchers': '',
    'spacecraft': 'Spacelab | GALILEO',
    'parent': None,
    'image_url': None},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/franz2520viehb25c325b6ck_image_20181201223901.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/default/cache/54/57/5457ce75acb7b188196eb442e3f17b64.jpg',
   'last_flight': '1991-10-02T05:59:38Z',
   'first_flight': '1991-10-02T05:59:38Z'},
  {'id': 225,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/225/',
   'name': 'Marcos Pontes',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'date_of_birth': '1963-03-11',
   'date_of_death': None,
   'nationality': 'Brazilian',
   'bio': "Marcos Cesar Pontes (born March 11, 1963) is a Brazilian Air Force pilot, engineer, AEB astronaut and author. He became the first South American and the first Lusophone to go into space when he launched into the International Space Station aboard Soyuz TMA-8 on March 30, 2006. He is the only Brazilian to have completed the NASA astronaut training program, although he switched to training in Russia after NASA's Space Shuttle program encountered problems.",
   'twitter': None,
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Marcos_Pontes',
   'agency': {'id': 12,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/12/',
    'name': 'Brazilian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'BRA',
    'abbrev': 'AEB',
    'description': 'The Brazilian Space Agency is a space agency in South America.  They work in partnership with the US and Russia aboard the ISS. It was previously operated by the military until 1994. They now operate largely in tandem with other nations. They run a spaceport and rocket launch site both in Brazil. They built the VLM small satellite launch system in tandem with Germany. The VLS-1 was intended to be a primary launch vehicle for the BSA, but it failed 3 times and was canceled. They have restarted work on the system in tandem with the Russian Space Agency.',
    'administrator': 'José Raimundo Coelho',
    'founding_year': '1961',
    'launchers': 'VLM | VLS',
    'spacecraft': 'None',
    'parent': None,
    'image_url': None},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/marcos2520pontes_image_20181201212435.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/default/cache/b5/9b/b59bb16a31087708ffb212d3e6938946.jpg',
   'last_flight': '2006-03-30T02:30:00Z',
   'first_flight': '2006-03-30T02:30:00Z'},
  {'id': 59,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/59/',
   'name': 'Aleksandr Panayotov Aleksandrov',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'date_of_birth': '1951-12-01',
   'date_of_death': None,
   'nationality': 'Bulgarian',
   'bio': 'Aleksandrov was born in Omurtag, Bulgaria on December 1, 1951. He graduated from the Bulgarian Air Force Academy in 1974 and obtained a degree in technical sciences in 1983. In the Bulgarian Air Force, Aleksandrov rose to the rank of lieutenant colonel.\r\n\r\nOn June 7, 1988, Aleksandrov launched aboard TM-5 as a Research Cosmonaut along with mission commander Anatoly Solovyev and Viktor Savinykh. Upon arriving at Mir, Aleksandrov became the first Bulgarian to reach a Soviet space station, as the Soyuz 33 mission carrying Georgi Ivanov failed to reach the Salyut 6 space station. On June 17, Aleksandrov returned aboard Soyuz TM-4 along with his fellow crew members. He, along with his crew-mates, spent just under 10 days in space.',
   'twitter': None,
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Aleksandr_Panayotov_Aleksandrov',
   'agency': {'id': 15,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/15/',
    'name': 'Bulgarian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'BGR',
    'abbrev': 'SRI-BAS',
    'description': 'The Bulgarian Space Agency has put two Bulgarians onto the ISS in tandem with the Russian Space Agency. Their involvement in space began with the Interkosmos program that helped Communist Bloc countries get access to Soviet space technology. They contributed cosmonauts for a training class, two of which flew aboard the ISS.',
    'administrator': None,
    'founding_year': '1993',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/aleksandr2520panayotov2520aleksandrov_image_20181128215016.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/default/cache/6f/ea/6fea4b8e9292d68cf8a705fa0c3a95f8.jpg',
   'last_flight': '1988-06-07T14:03:13Z',
   'first_flight': '1988-06-07T14:03:13Z'},
  {'id': 271,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/271/',
   'name': 'Bjarni Tryggvason',
   'status': {'id': 11, 'name': 'Deceased'},
   'type': {'id': 2, 'name': 'Government'},
   'date_of_birth': '1945-09-21',
   'date_of_death': '2022-04-06',
   'nationality': 'Canadian',
   'bio': "Bjarni Valdimar Tryggvason (born September 21, 1945) is an Icelandic-born Canadian engineer and a former NRC/CSA astronaut. He served as a Payload Specialist on Space Shuttle mission STS-85 in 1997, a 12-day mission to study changes in the Earth's atmosphere.",
   'twitter': None,
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Bjarni_Tryggvason',
   'agency': {'id': 16,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/',
    'name': 'Canadian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'CAN',
    'abbrev': 'CSA',
    'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.',
    'administrator': None,
    'founding_year': '1990',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/bjarni2520tryggvason_image_20181201223221.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/default/cache/ce/df/cedfdddeb646652350797cf2ad9c33f8.jpg',
   'last_flight': '1997-08-07T14:41:00Z',
   'first_flight': '1997-08-07T14:41:00Z'},
  {'id': 220,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/220/',
   'name': 'Julie Payette',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'date_of_birth': '1963-10-20',
   'date_of_death': None,
   'nationality': 'Canadian',
   'bio': 'Julie Payette CC CMM COM CQ CD (born October 20, 1963) is the current Governor General of Canada, the 29th since Canadian Confederation. Before assuming office, she was a businesswoman, former member of the Canadian Astronaut Corps, and engineer. Payette has completed two spaceflights, STS-96 and STS-127, logging more than 25 days in space. She served as chief astronaut for the Canadian Space Agency (CSA), and has served as capsule communicator at NASA Mission Control Center in Houston.',
   'twitter': 'https://twitter.com/Astro_Payette',
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Julie_Payette',
   'agency': {'id': 16,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/',
    'name': 'Canadian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'CAN',
    'abbrev': 'CSA',
    'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.',
    'administrator': None,
    'founding_year': '1990',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/julie_payette_image_20220122091651.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/default/cache/12/a4/12a443f66b79e6ba6957998eb5dae9b0.jpg',
   'last_flight': '2009-07-15T22:03:00Z',
   'first_flight': '1999-05-27T10:49:42Z'},
  {'id': 80,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/80/',
   'name': 'Roberta Bondar',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'date_of_birth': '1945-12-04',
   'date_of_death': None,
   'nationality': 'Canadian',
   'bio': "Roberta Bondar (born December 4, 1945) is Canada's first female astronaut and the first neurologist in space. Following more than a decade as NASA's head of space medicine, Bondar became a consultant and speaker in the business, scientific, and medical communities.\r\n\r\nBondar has received many honours including the Order of Canada, the Order of Ontario, the NASA Space Medal, over 22 honorary degrees and induction into the Canadian Medical Hall of Fame.",
   'twitter': None,
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Roberta_Bondar',
   'agency': {'id': 16,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/',
    'name': 'Canadian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'CAN',
    'abbrev': 'CSA',
    'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.',
    'administrator': None,
    'founding_year': '1990',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/roberta2520bondar_image_20181128223453.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/default/cache/1f/15/1f151ac98e03e6b4f37ec5fdfa39afc0.jpg',
   'last_flight': '1992-01-22T14:52:33Z',
   'first_flight': '1992-01-22T14:52:33Z'},
  {'id': 643,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/643/',
   'name': 'Jennifer Sidey-Gibbons',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'date_of_birth': '1988-08-03',
   'date_of_death': None,
   'nationality': 'Canadian',
   'bio': "Jennifer Sidey-Gibbons hails from Calgary, Alberta. She holds an honors bachelor's degree in mechanical engineering from McGill University in Montreal and a doctorate in engineering from the University of Cambridge. While at McGill, she conducted research on flame propagation in microgravity, in collaboration with CSA and the National Research Council Flight Research Laboratory. Prior to joining CSA, Sidey-Gibbons worked as an assistant professor in combustion in the Department of Engineering at Cambridge.",
   'twitter': 'https://twitter.com/astro_jenni',
   'instagram': 'https://www.instagram.com/astro_jenni/',
   'wiki': 'https://en.wikipedia.org/wiki/Jenni_Sidey',
   'agency': {'id': 16,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/',
    'name': 'Canadian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'CAN',
    'abbrev': 'CSA',
    'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.',
    'administrator': None,
    'founding_year': '1990',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/jennifer2520sidey-gibbons_image_20191228100223.jpeg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/default/cache/83/04/83049a7dd1a36ae09cffe0f566626244.jpg',
   'last_flight': None,
   'first_flight': None},
  {'id': 642,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/642/',
   'name': 'Joshua Kutryk',
   'status': {'id': 1, 'name': 'Active'},
   'type': {'id': 2, 'name': 'Government'},
   'date_of_birth': '1982-03-21',
   'date_of_death': None,
   'nationality': 'Canadian',
   'bio': 'Joshua Kutryk, a Royal Canadian Air Force lieutenant colonel, is from Beauvallon, Alberta. He has a bachelor’s degree in mechanical engineering, as well as master’s degrees in space studies, flight test engineering, and defense studies. Prior to joining CSA, Kutryk worked as an experimental test pilot and a fighter pilot in Cold Lake, Alberta, where he led the unit responsible for the operational flight-testing of fighter aircraft in Canada.',
   'twitter': 'https://twitter.com/astro_kutryk',
   'instagram': 'https://www.instagram.com/astro_kutryk/',
   'wiki': 'https://en.wikipedia.org/wiki/Joshua_Kutryk',
   'agency': {'id': 16,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/',
    'name': 'Canadian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'CAN',
    'abbrev': 'CSA',
    'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.',
    'administrator': None,
    'founding_year': '1990',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/joshua2520kutryk_image_20191228095953.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/default/cache/51/c4/51c411ec17ad27e37be6172ca2fe4ebd.jpg',
   'last_flight': None,
   'first_flight': None},
  {'id': 112,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/112/',
   'name': 'Marc Garneau',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'date_of_birth': '1949-02-23',
   'date_of_death': None,
   'nationality': 'Canadian',
   'bio': 'Garneau was one of the first Canadian Astronauts and he became the first Canadian in outer space in October 1984. In 1984, he was seconded to the new Canadian Astronaut Program (CAP), one of six chosen from over 4,000 applicants. He flew on the shuttle Challenger, STS-41-G from October 5 to 13, 1984, as payload specialist. He was promoted to Captain in 1986, and left the Navy in 1989, to become deputy director of the CAP. In 1992–93, he underwent further training to become a mission specialist. He worked as CAPCOM for a number of shuttle flights and was on two further flights himself: STS-77 (May 19 to 29, 1996) and STS-97 (to the ISS, November 30 to December 11, 2000). He has logged over 677 hours in space.\r\n\r\nIn February 2001, he was appointed executive vice-president of the Canadian Space Agency, and became its president on November 22, 2001.',
   'twitter': None,
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Marc_Garneau',
   'agency': {'id': 16,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/16/',
    'name': 'Canadian Space Agency',
    'featured': False,
    'type': 'Government',
    'country_code': 'CAN',
    'abbrev': 'CSA',
    'description': 'The Canadian Space Agency was established by the Canadian Space Agency Act which received Royal Assent on May 10, 1990. \r\n\r\nThe Canadian space program is administered by the Canadian Space Agency. Canada has contributed technology, expertise and personnel to the world space effort, especially in collaboration with ESA and NASA. In addition to its astronauts and satellites, some of the most notable Canadian technological contributions to space exploration include the Canadarm on the Space Shuttle and Canadarm2 on the International Space Station.',
    'administrator': None,
    'founding_year': '1990',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/marc2520garneau_image_20181128232810.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/default/cache/ad/a7/ada7ace540c124ddb9d1756e2cf418da.jpg',
   'last_flight': '2000-12-01T03:06:00Z',
   'first_flight': '1984-10-05T11:03:00Z'},
  {'id': 125,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/125/',

In [48]:
url_total

'http://ll.thespacedevs.com/2.2.0/astronaut'

In [49]:
url_total = space_url + path + "/?nationality=Spanish"

response = requests.get(url_total)

In [50]:
url_total

'http://ll.thespacedevs.com/2.2.0/astronaut/?nationality=Spanish'

In [51]:
response.json()

{'count': 1,
 'next': None,
 'previous': None,
 'results': [{'id': 95,
   'url': 'https://ll.thespacedevs.com/2.2.0/astronaut/95/',
   'name': 'Pedro Duque',
   'status': {'id': 2, 'name': 'Retired'},
   'type': {'id': 2, 'name': 'Government'},
   'date_of_birth': '1963-03-14',
   'date_of_death': None,
   'nationality': 'Spanish',
   'bio': "Pedro Francisco Duque Duque, OF, OMSE (Madrid, 14 March 1963) is a Spanish astronaut and aeronautics engineer, currently serving as Spain's Minister of Science, Innovation and Universities. He was the first Spanish astronaut.\r\n\r\nDuque underwent training in both Russia and the United States. His first spaceflight was as a mission specialist aboard space shuttle mission STS-95, during which Duque supervised ESA experimental modules. In October 2003, Duque visited the International Space Station on board of a Soyuz TMA Ship for several days during a crew changeover. The scientific program of this visit was called by ESA/Spain Misión Cervantes.",
   'twitter': None,
   'instagram': None,
   'wiki': 'https://en.wikipedia.org/wiki/Pedro_Duque',
   'agency': {'id': 27,
    'url': 'https://ll.thespacedevs.com/2.2.0/agencies/27/',
    'name': 'European Space Agency',
    'featured': False,
    'type': 'Multinational',
    'country_code': 'AUT,BEL,CZE,DNK,FIN,FRA,DEU,GRC,IRE,ITA,LUZ,NLD,NOR,POL,PRT,ROU,ESP,SWE,CHE,GBR',
    'abbrev': 'ESA',
    'description': "The European Space Agency is an intergovernmental organisation of 22 member states. Established in 1975 and headquartered in Paris, France, ESA has a worldwide staff of about 2,000 employees.\r\n\r\nESA's space flight programme includes human spaceflight (mainly through participation in the International Space Station program); the launch and operation of unmanned exploration missions to other planets and the Moon; Earth observation, science and telecommunication; designing launch vehicles; and maintaining a major spaceport, the Guiana Space Centre at Kourou, French Guiana.",
    'administrator': 'Johann-Dietrich Wörner',
    'founding_year': '1975',
    'launchers': '',
    'spacecraft': '',
    'parent': None,
    'image_url': None},
   'profile_image': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/astronaut_images/pedro2520duque_image_20181128225634.jpg',
   'profile_image_thumbnail': 'https://spacelaunchnow-prod-east.nyc3.digitaloceanspaces.com/media/default/cache/a2/c9/a2c9c37ff19aba5120410597b93ad68b.jpg',
   'last_flight': '2003-10-18T05:38:03Z',
   'first_flight': '1998-10-29T19:19:34Z'}]}